<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper>: XML的根元素，属性namespace定义了当前XML的命名空间 -->
<mapper namespace="com.lee.mybatis.mapper.CountryMapper">
    <!-- <select>元素: 定义的查询
         id属性: 定义了当前查询的唯一一个id
         resultType: 定义了当前查询的返回值类型，
            当配置文件配置了mybatis.typeAliasesPackage参数时就无需写全名了 -->
    <!--<select id="selectAll" resultType="com.lee.mybatis.domain.Country">-->
    <select id="selectAll" resultType="Country">
        SELECT
            id, countryname, countrycode
        FROM
            country
    </select>
</mapper>