<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lee.mybatis.mapper.RoleMapper">
    <select id="selectRoleByUserId" resultType="SysRole">
        SELECT r.id,
               r.role_name   roleName,
               r.enabled,
               r.create_by   createBy,
               r.create_time createTime,
               u.user_name AS 'user.userName', u.user_email AS 'user.userEmail'
        FROM sys_role r
                     INNER JOIN sys_user_role ur ON ur.role_id = r.id
                     INNER JOIN sys_user u ON u.id = ur.user_id
        WHERE u.id = #{userId}
    </select>

    <select id="selectRoleByUserId2" resultType="SysRole">
        <!-- UnserMapper中association使用如下，因为association中配置的是{id=role_id} 所以下方是用#{id}
             如果多个参数使用,隔开，例如column="{id=role_id, name=#{role_name}"-->
        SELECT *
        FROM sys_role
        WHERE id = #{id}
    </select>

    <select id="selectRoleByUserIdAndEnabled" resultType="SysRole">
        SELECT r.id,
               r.role_name   roleName,
               r.enabled,
               r.create_by   createBy,
               r.create_time createTime
        FROM sys_role r
                     INNER JOIN sys_user_role ur ON ur.role_id = r.id
                     INNER JOIN sys_user u ON u.id = ur.user_id
        WHERE u.id = #{userId}
          AND r.enabled = #{enabled}
    </select>
</mapper>